/*바디 폰트 설정*/
h1,h2,h3,h4,.diphylleia-regular {
    font-family: "Gugi", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

/* 헤더 영역 서식 설정*/
header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/main-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

/* SNS 영역 */
#sns-links {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/sns-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* 서비스 섹션 */
.card-hover:hover {
    background-color: rgba(127,255,212,0.215);
}